/* Project by: Jaycee-Ann Day, Michael Lyall, Tom Machin, Edward Fung */

/* html selectors */

body {
	margin:0px;
	font: 16px helvetica, sans-serif;
	background-color:black;
	color: white;
	line-height:1.2;
	min-width: 800px;
	background: url(../images/van_skyline.jpg) no-repeat fixed center;
	background-size: 100% 100%; 
	
}

h1, h2, h3 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size:8em;
	text-align: right;
	line-height: 1;
	margin-right: 45px;
	color: #000;
		/* -webkit-text-stroke: 1px #000; stroke color and weight  text stroke is only supported by safari */
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
}

h2 {
	font-size:3em;
	line-height:1;
	text-align: right;
	margin-right: 45px;
		/* -webkit-text-stroke: 1px #000; stroke color and weight text stroke is only supported by safari */
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
}
h3 {
	font-size:1.4em;
}

p {
	font-size: 1.4em;
}

article p { padding: 10px;

}

article div {
	text-align: center;
	margin-top: 50px;

}

article ul {
	list-style-type:lower-alpha;
	margin-left:50px;	
	line-height:1.3;/* Hopefully this matches Edward's */
}



article a {
	color:black;
	text-decoration:none;

}

article a:link {
	color:black;
}
article a:visited{
	color:black;
}
article a:hover{
	color:white;
}
article a:active{
	color:white;
}






main {
	min-width:780px;	/* don't allow the width of the page to shrink below the combined width of the 2 columns */
}

nav {
	clear:both;
	width:340px; /* match width of column 1 */
	padding: 20px 0px;
	background-color: rgba(80,80,80,0.7);	/* grey with opacity (alpha channel) 70% Edward you're a genius */
}

nav li {
 /* changing the nav padding was the only way I could match nav alignment since I changed so much of the gray column's content */

}

nav a {
	padding:20px;
	display:block;	
	text-decoration:none;
	font-weight:bold;
	font-size:2em;
}

nav a:link {
	color:white;
}
nav a:visited{
	color:white;
}
nav a:hover{
	background-color: rgba(256,256,0,0.25);	
}
nav a:active{
	background-color: rgba(256,00,00,0.25);
}


/* class selectors */


/* id selectors */

#column_1 {
	width:300px;
	float:left;
	background-color: rgba(80,80,80,0.7);	
	padding:20px 20px 40px 20px;        /* THIS IS THE NUMBER TO BALANCE THE NAV   */
}

#column_2 {
	float:right;
	padding:10px;
}
