
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600);

* {margin: 0; padding: 0;}

body {
	
	font-family: "Open Sans", arial, verdana;
	background-color:#E2DFCD;
	font-size: 16px;
}

#container1 {
	background-color:#E9EAEB;
	max-width:900px;
	margin: 1em auto;
	height:900px;
	display:flex;
	flex-direction:row;
	flex-wrap: nowrap;	
	overflow:auto;
}

/* menu header */

#coursetitle {
	color: #fff;
	background-color: #7AB4E1;
	text-align:center;
	font-size: 1.3em;	
}

/* menu */

#accordian {
	background: #565656;
	width: 250px;
	min-width:200px;
	color: white;
	height:100%;
	
}
/*heading styles*/
#accordian h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	background: #3F3F3F; 

}
/*heading hover effect*/
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}



/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}


/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #003545;
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}

/* Main Content styles */

main {
	margin: 2em 1.5em;
	max-width:70%;
}
   


/* Styles for Dashboard Layout */


/* Announcement and Grades styles */
#dashboard #info {
	display:-webkit-flex;
	display:flex;
	max-width:100%;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;	
	justify-content:space-around	
}

#dashboard #info div {
	min-width:40%;
	max-width:100%;		
}

#dashboard #info div div {	
	height:150px;
	margin:1em 0.5em;	
}
	/*Announcement style*/
	#dashboard #info #messages {
		background-color:#fff;		
	}
	#dashboard #info #messages li {
		font-size:0.8em;
		list-style:none;
		border-bottom: solid thin #F5F6F6;
		padding:1em;
	}

	/*Grades style*/
	#dashboard #info #grades {
		text-align:center;
		padding:2em;
	}

/* Styles for displaying Lecture list on Dashboard */
#dashboard #lecturelist {
	display:-webkit-flex;
	display:flex;
	max-width:100%;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;	
}

#dashboard #lecturelist div {
	margin:1em;
	min-width:40%;
	max-width:100%;	
	height:150px;
	flex-grow:1;
	flex-shrink:0;
	border-radius:5px;
	background-color:#FFFFFF;
}
#dashboard #lecturelist h3{
	color:#fff;
	background-color:#A4A5A5;
	font-size:1em;
	padding:0.5em;
	font-weight:normal;
	border-radius: 5px 5px 0 0;
}

#dashboard #lecturelist .complete h3{
	background-color:#838EC1;
}


/* Styles for About page START */
#about>h1{
	color:#434A4F;
	font-weight:normal;
	text-align:center;
}
#about>p{
	color:grey;
	text-align:center;
}

#about #aboutlist {
	display:flex;
	width:630px;
	flex-flow: row wrap;	
}

#about #aboutlist div {
	margin:1em;
	width:283px;
	height:183px;
	flex-grow:1;
	border-radius:5px;
	background-color:#FFFFFF;
}

#about #aboutlist div:nth-of-type(3) {
	width:598px;
}

#about #aboutlist h3{
	color:#fff;
	background-color:#8FD665;
	font-size:1em;
	padding:0.5em;
	font-weight:bolder;
	border-radius: 5px 5px 0 0;
}

#about #aboutlist table{
	font-size:0.9em;
	width:100%;
}
#about #aboutlist td{
	border-bottom:1px solid #e9eaeb;
	padding:0.5em;
}
#about #aboutlist p{
	font-size:0.9em;
	padding:0.5em;
}
/* Styles for About page END */

